<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>M-JD2-XXX-XX</display-name>

<!--    <context-param>-->
<!--        <param-name>fileForSaveInstance</param-name>-->
<!--        <param-value>D:\opt\apache-tomcat-8.5.68\conf\polls\instance.txt</param-value>-->
<!--    </context-param>-->

    <listener>
        <listener-class>by.it.academy.MK_JD2_88_2.polls.controllers.web.listeners.RunCompletionListener</listener-class>
    </listener>

    <listener>
        <listener-class>by.it.academy.MK_JD2_88_2.session_counter.controllers.web.listeners.CreateDestroySessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>by.it.academy.MK_JD2_88_2.hw1.controllers.web.listeners.SessionCounterListener</listener-class>
    </listener>

</web-app>